// Variable overrides
//
// If you want to customize your project please add your variables below.
$primary: #04349c;
$secondary: #219fee;

// Impor kembali variabel CoreUI setelah melakukan override
@import '@coreui/coreui/scss/coreui';

$enable-deprecation-messages: false !default;
