// Here you can add other styles
$sidebar-bg: #17436a;
$sidebar-nav-link-active-color: #ffffff;
$sidebar-nav-link-active-bg: #1962aa;
$sidebar-nav-link-hover-color: #ffffff;
$sidebar-nav-link-hover-bg: #124c85;
$sidebar-nav-link-hover-icon-color: #ffffff;
$sidebar-nav-link-active-icon-color: #ffffff;

// Impor kembali variabel CoreUI setelah melakukan override
@import '@coreui/coreui/scss/coreui';
