/* custom.css */
.custom-datatable .p-datatable-thead > tr > th,
.custom-datatable .p-datatable-tbody > tr > td {
  border: 1px solid #dee2e6;
}

.custom-datatable .p-datatable-thead > tr > th {
  background-color: #f8f9fa;
}

.custom-datatable .p-datatable-tbody > tr > td {
  background-color: #ffffff;
  font-size: 10pt;
  text-transform: uppercase;
  white-space: nowrap;
}

input.p-inputnumber-input.p-inputtext.p-component.p-filled {
  width: 90px;
  height: 24px;
  font-size: 10pt;
}

td input.p-inputtext.p-component {
  height: 24px;
  font-size: 10pt;
}

button.p-row-editor-save.p-link {
  margin-right: 10px;
}

.sticky-search-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 114px;
  z-index: 1020;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.required-label span {
  color: red;
}

.password-input-container {
  position: relative;
}

.input-with-icon {
  position: relative;
}

.icon-button {
  position: absolute;
  right: 10px; /* Atur jarak dari kanan */
  top: 50%;
  transform: translateY(-50%);
  background: transparent; /* Menghilangkan latar belakang */
  border: none; /* Menghilangkan border */
  cursor: pointer; /* Menunjukkan bahwa ini dapat diklik */
  outline: none; /* Menghilangkan outline */
}

.icon-button:focus {
  outline: none; /* Menghilangkan outline saat fokus */
}
